<html>
    <head>
        <title>My page</title>
    </head>
    <style type="text/css">
       # p
       {
         background-color: yellow;
         color:green;
         font-size: 40px;
       } 
    </style>
    
    
    
</html>